html {
  background-color: #edc;
  color: #111;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

canvas {
  background-color: black;
  border: 1px solid #666;
  cursor: crosshair;
  image-rendering: pixelated;
  padding: .5em;
}
textarea {
  background-color: rgba(0, 0, 255, 10%);
  color: inherit;
  padding: .5em;
}
input {
  max-width: 8em;
}
section {
  overflow: hidden;
  transition-duration: 1s;
  max-height: 768px;
}
article {
  display: inline-block;
  overflow: hidden;
  text-align: left;
  vertical-align: top;
}
pre {
  width: 20em;
}

.newfile {
  font-style: italic;
}

.hidden {
  max-height: 0;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #111;
    color: #eee;
  }
  a,a:link,a:visited{
    color: #9cf;
  }
}