html {
  background-color: #edc;
  color: #111;
  font-family: 'Courier New', Courier, monospace;
  text-align: center;
}

canvas {
  background-color: black;
  border: 1px solid #666;
  image-rendering: pixelated;
  padding: .5em;
}
textarea {
  background-color: rgba(0, 0, 255, 10%);
  color: inherit;
  padding: .5em;
}
article {
  display: inline-block;
  text-align: left;
  vertical-align: top;
}

@media (prefers-color-scheme: dark) {
  html {
    background-color: #111;
    color: #eee;
  }
}